<h1>About Me</h1>
<h3>IT experience 7 years in analysis, design, development, and implementation phases of numerous client/server applications. Software Engineering experience in Design, Development & Support of Ruby on Rails applications in Airlines, Manufacturing, Finance, social networking, Healthcare, e-commerce, and other domains.</h3>